<%- include('partials/header') %>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"><center>
        <div class="BigT">
        User Not Found
            </div>
        </center></h1>
    <p class="lead"><center>
        <div class="bigT">
        Your recipient is not authorised.
            </div>
        </center></p>
  </div>
</div>

<%- include('partials/footer') %>